[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restplus = "*"
gunicorn = "*"
python-dotenv = "*"
requests = "*"
click = "*"

[dev-packages]
bumpversion = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
